body {
  background: #010101;
  margin: 0;
}

.bubbles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -8%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  -webkit-animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite, blink-sm var(--bubble-blink-duration) var(--bubble-blink-delay) ease-in infinite;
          animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite, blink-sm var(--bubble-blink-duration) var(--bubble-blink-delay) ease-in infinite;
}
.bubble::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaa8b2;
  border-radius: inherit;
  opacity: var(--bubble-opacity);
  filter: blur(var(--bubble-blur));
  -webkit-animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
          animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
}
.bubble:nth-child(0) {
  --bubble-left-offset: 3vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 22s;
  --bubble-float-delay: 4s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.62;
  --bubble-blink-duration: 7s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.13 * 1px);
}
.bubble:nth-child(1) {
  --bubble-left-offset: 85vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 22s;
  --bubble-float-delay: 2s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.33;
  --bubble-blink-duration: 7s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(1.96 * 1px);
}
.bubble:nth-child(2) {
  --bubble-left-offset: 34vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 20s;
  --bubble-float-delay: 3s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.34;
  --bubble-blink-duration: 12s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.72 * 1px);
}
.bubble:nth-child(3) {
  --bubble-left-offset: 84vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 12s;
  --bubble-float-delay: 2s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.83;
  --bubble-blink-duration: 11s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.16 * 1px);
}
.bubble:nth-child(4) {
  --bubble-left-offset: 38vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 18s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.3;
  --bubble-blink-duration: 9s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(1.72 * 1px);
}
.bubble:nth-child(5) {
  --bubble-left-offset: 51vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 18s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 5s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.86;
  --bubble-blink-duration: 6s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.39 * 1px);
}
.bubble:nth-child(6) {
  --bubble-left-offset: 29vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 24s;
  --bubble-float-delay: 4s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.47;
  --bubble-blink-duration: 7s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.88 * 1px);
}
.bubble:nth-child(7) {
  --bubble-left-offset: 79vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 14s;
  --bubble-float-delay: 2s;
  --bubble-sway-duration: 5s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.89;
  --bubble-blink-duration: 8s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.46 * 1px);
}
.bubble:nth-child(8) {
  --bubble-left-offset: 47vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 22s;
  --bubble-float-delay: 3s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.78;
  --bubble-blink-duration: 9s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.23 * 1px);
}
.bubble:nth-child(9) {
  --bubble-left-offset: 99vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 14s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.24;
  --bubble-blink-duration: 10s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(1.8 * 1px);
}
.bubble:nth-child(10) {
  --bubble-left-offset: 63vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 24s;
  --bubble-float-delay: 2s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.48;
  --bubble-blink-duration: 6s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.21 * 1px);
}
.bubble:nth-child(11) {
  --bubble-left-offset: 51vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 14s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 5s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.39;
  --bubble-blink-duration: 10s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(1.96 * 1px);
}
.bubble:nth-child(12) {
  --bubble-left-offset: 91vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 18s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.32;
  --bubble-blink-duration: 12s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.88 * 1px);
}
.bubble:nth-child(13) {
  --bubble-left-offset: 47vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 24s;
  --bubble-float-delay: 0s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.44;
  --bubble-blink-duration: 8s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.25 * 1px);
}
.bubble:nth-child(14) {
  --bubble-left-offset: 89vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 16s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 5s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.62;
  --bubble-blink-duration: 12s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.88 * 1px);
}
.bubble:nth-child(15) {
  --bubble-left-offset: 36vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 16s;
  --bubble-float-delay: 4s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.24;
  --bubble-blink-duration: 10s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.71 * 1px);
}
.bubble:nth-child(16) {
  --bubble-left-offset: 93vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 20s;
  --bubble-float-delay: 3s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.2;
  --bubble-blink-duration: 11s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(1.7 * 1px);
}
.bubble:nth-child(17) {
  --bubble-left-offset: 50vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 18s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.47;
  --bubble-blink-duration: 10s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.95 * 1px);
}
.bubble:nth-child(18) {
  --bubble-left-offset: 78vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 12s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 5s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.44;
  --bubble-blink-duration: 12s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(1.6 * 1px);
}
.bubble:nth-child(19) {
  --bubble-left-offset: 96vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 22s;
  --bubble-float-delay: 2s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.83;
  --bubble-blink-duration: 7s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.92 * 1px);
}
.bubble:nth-child(20) {
  --bubble-left-offset: 18vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 24s;
  --bubble-float-delay: 0s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.28;
  --bubble-blink-duration: 9s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(1.55 * 1px);
}
.bubble:nth-child(21) {
  --bubble-left-offset: 61vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 16s;
  --bubble-float-delay: 3s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.46;
  --bubble-blink-duration: 8s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.93 * 1px);
}
.bubble:nth-child(22) {
  --bubble-left-offset: 54vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 16s;
  --bubble-float-delay: 3s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.26;
  --bubble-blink-duration: 9s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.77 * 1px);
}
.bubble:nth-child(23) {
  --bubble-left-offset: 47vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 16s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.7;
  --bubble-blink-duration: 11s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.12 * 1px);
}
.bubble:nth-child(24) {
  --bubble-left-offset: 59vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 22s;
  --bubble-float-delay: 0s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.56;
  --bubble-blink-duration: 11s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.99 * 1px);
}
.bubble:nth-child(25) {
  --bubble-left-offset: 6vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 18s;
  --bubble-float-delay: 4s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.76;
  --bubble-blink-duration: 12s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(1.57 * 1px);
}
.bubble:nth-child(26) {
  --bubble-left-offset: 75vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 20s;
  --bubble-float-delay: 4s;
  --bubble-sway-duration: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.77;
  --bubble-blink-duration: 11s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.15 * 1px);
}
.bubble:nth-child(27) {
  --bubble-left-offset: 40vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 16s;
  --bubble-float-delay: 4s;
  --bubble-sway-duration: 5s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.68;
  --bubble-blink-duration: 9s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.21 * 1px);
}
.bubble:nth-child(28) {
  --bubble-left-offset: 73vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 18s;
  --bubble-float-delay: 3s;
  --bubble-sway-duration: 5s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.76;
  --bubble-blink-duration: 12s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(2.66 * 1px);
}
.bubble:nth-child(29) {
  --bubble-left-offset: 77vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 18s;
  --bubble-float-delay: 1s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
  --bubble-opacity: 0.86;
  --bubble-blink-duration: 6s;
  --bubble-blink-delay: 1s;
  --bubble-blur: calc(1.65 * 1px);
}
.bubble:nth-child(30) {
  --bubble-left-offset: 13vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 16s;
  --bubble-float-delay: 2s;
  --bubble-sway-duration: 6s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
  --bubble-opacity: 0.7;
  --bubble-blink-duration: 11s;
  --bubble-blink-delay: 0s;
  --bubble-blur: calc(2.62 * 1px);
}

@-webkit-keyframes blink-sm {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

@keyframes blink-sm {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@-webkit-keyframes float-up {
  100% {
    transform: translateY(-175vh) rotateZ(0);
  }
}
@keyframes float-up {
  100% {
    transform: translateY(-175vh) rotateZ(0);
  }
}
@-webkit-keyframes sway-left-to-right {
  from {
    transform: translateX(-10vw) rotateZ(0);
  }
  to {
    transform: translateX(10vw) rotateZ(0);
  }
}
@keyframes sway-left-to-right {
  from {
    transform: translateX(-10vw) rotateZ(0);
  }
  to {
    transform: translateX(10vw) rotateZ(0);
  }
}
@-webkit-keyframes sway-right-to-left {
  from {
    transform: translateX(10vw) rotateZ(0);
  }
  to {
    transform: translateX(-10vw) rotateZ(0);
  }
}
@keyframes sway-right-to-left {
  from {
    transform: translateX(10vw) rotateZ(0);
  }
  to {
    transform: translateX(-10vw) rotateZ(0);
  }
}
